.blog-home {

}

.blog-home__list-item {
	list-style: none;
	text-align: left;
	margin-bottom: 2rem;	
}

.blog-home__link {
	color: $dark-purple;
	border: 0.25rem solid transparent;
	&:hover {
		border: 0.25rem solid $dark-purple;
		border-radius: 0.5rem;
	}
}