.nav {
	justify-content: flex-start;
	width: 100%;
	background-color: $purple;
	padding: 2rem;
	text-align: center;
	font-size: 1.5rem;
}

.nav__link {
	color: $pink-white;
	text-decoration: none;
	border: 0.25rem solid transparent;
	padding: 1rem;
	&:hover {
		border: 0.25rem solid $dark-purple;
		border-radius: 0.5rem;
	}
}

.nav__link--active {
	text-decoration: underline;
}