// Add your styles here

html {
	height: 100%;
	width: 100%;
	background: #F5F8DE;
	font-family: 'Patua One', cursive;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

main {
	width: 50rem;
	margin: 0 auto;
	text-align: center;
}

h1 {
	color: #2A0C4E;
}