* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	width: 100%;
	background: #F5F8DE;
	font-family: 'Patua One', cursive;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	flex: 1 0 auto;
	line-height: 1.5;
	padding: 1rem;
	@media (min-width: $tablet) {
		width: 30rem;
	}
	@media (min-width: $laptop) {
		width: 50rem;
	}
}

img {
	width: 20rem;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 1.5rem;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}